<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.crm.qa.testcases.EditProfile_ChildTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Trim</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JunkCharcter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PhoneBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LastNameBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FirstNameBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AllBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MinimumCharcater</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
