<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.AllBlank()[pri:4, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">AllBlank</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:02:55</td>   <td>-11294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.FirstNameBlank()[pri:1, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">FirstNameBlank</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:10</td>   <td>4033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.JunkCharcter()[pri:6, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">JunkCharcter</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:02:57</td>   <td>-8661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.LastNameBlank()[pri:2, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">LastNameBlank</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:08</td>   <td>1924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.MinimumCharcater()[pri:5, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">MinimumCharcater</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:02:59</td>   <td>-6847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.PhoneBlank()[pri:3, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">PhoneBlank</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:16</td>   <td>10194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.Trim()[pri:7, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">Trim</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:19</td>   <td>12581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.ValidInfo()[pri:7, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">ValidInfo</td> 
  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>20/10/06 15:03:23</td>   <td>16838</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShopcluesParentTest1.afterClass()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:03:23</td>   <td>16838</td> <td>&nbsp;</td><td title="&lt;&lt;EditProfile_ChildTest.afterTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>20/10/06 15:02:24</td>   <td>-41640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShopcluesParentTest1.beforeClass()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>20/10/06 15:02:24</td>   <td>-41655</td> <td>&nbsp;</td><td title="&gt;&gt;EditProfile_ChildTest.beforeTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1258372214</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>20/10/06 15:02:32</td>   <td>-34275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopcluesParentTest1.f()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@71ba6d4e]">f</td> 
  <td>main@1258372214</td>   <td></td> </tr>
</table>
