<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.AllBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">AllBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.AllBlank1()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">AllBlank1</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.ConfirmPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">ConfirmPWDBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.CurrentPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">CurrentPWDBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>-87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.FirstNameBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">FirstNameBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.JunkCharcter()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">JunkCharcter</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.LastNameBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">LastNameBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.MinimumCharcater()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">MinimumCharcater</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.NewPWDBlank()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">NewPWDBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.PhoneBlank()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">PhoneBlank</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfile_ChildTest.Trim()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">Trim</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePWD_Child2Test.WrongCurrentPWD()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">WrongCurrentPWD</td> 
  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>132</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePWD_Child2Test.afterTest()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>132</td> <td>&nbsp;</td><td title="&lt;&lt;EditProfile_ChildTest.afterTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="7a9082">  <td>20/12/17 18:10:58</td>   <td>-215</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShopcluesParentTest1.beforeClass()[pri:0, instance:com.crm.qa.testcases.ShopcluesParentTest1@2049a9c1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="9b89d4">  <td>20/12/17 18:10:58</td>   <td>-232</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePWD_Child2Test.beforeTest()[pri:0, instance:com.crm.qa.testcases.ChangePWD_Child2Test@12a94400]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@753321708</td>   <td></td> </tr>
<tr bgcolor="c9b0f5">  <td>20/12/17 18:10:58</td>   <td>-223</td> <td>&nbsp;</td><td title="&gt;&gt;EditProfile_ChildTest.beforeTest()[pri:0, instance:com.crm.qa.testcases.EditProfile_ChildTest@4fbe37eb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@753321708</td>   <td></td> </tr>
</table>
